@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = Resources.Error_Title;

    if (User.Identity.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LoginLayout.cshtml";
    }
}

<h1 class="text-danger">@Resources.Error_Title</h1>
<h2 class="text-danger">@Resources.Error_Message</h2>
