@using MyContractsGenerator.Common
@using MyContractsGenerator.WebUI.Models.CollaboratorModels
@model MyContractsGenerator.WebUI.Models.CollaboratorFormModels.CollaboratorFormMainModel

@{
    Layout = "~/Views/CollaboratorForm/_AnonymousLayout.cshtml";
}

<div class="contentSideBarSection">
    @RenderBody()
</div>