@using MyContractsGenerator.Common

@{
    ViewBag.Title = Resources.CollaboratorForm_Step3_Title;
    Layout = "~/Views/CollaboratorForm/_LayoutCollaboratorForm.cshtml";
}

<div class="row">
    <div class="col-md-12 mb50">
        <div class="col-md-6 col-md-offset-3">
            <div class="center">
                <img src='@Url.Content("~/Content/images/MCG_logo.jpg")' class="login-logo" />
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group center">
            <h3>@Resources.CollaboratorForm_Step3_AlreadyRepliedMessage</h3>
        </div>
    </div>
</div>
